html, body {
    height: 100%;
    width:100%;
    font-family: 'Lato', sans-serif;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

body {
    display: table-cell;
    vertical-align: middle;
}    

html {
    display: table;
    margin: auto;
}

img, button {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.intro {
    display: flex;
    justify-content: center;
    font-size:4em;
}

.score {
    font-size: 1.5em;
    text-align: center;
    margin: 10px;
}

button {
    margin:5px;
    width: 200px;
    font-family: 'Lato', sans-serif;
    height: 100px;
    background-color:rgb(48, 95, 136);
    font-size: 2em;
    color: white;
    border-radius:10px;
    border: 2px solid black;
    transition: background-color 0.2s;
}

button:hover:enabled {
    background-color:rgb(24, 48, 70);
    transition: background-color 0.2s;
}

button:disabled {
   opacity: 0.1;
}

.cards {
    display: flex;
    justify-content: center;
    height:190px;
}

.card {
    margin: 5px;
    height:175px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: height 0.5s;
}

.card:hover { 
    height:180px;
    transition: height 0.2s;
}

#player-hand > .card {
    align-self: flex-end;
}

.gameplay-buttons, #outcome {
    display:flex;
    justify-content: center;
}

#outcome {
    font-size: 25px;
    height: 100px;
}

#hit, #stick {
    display: none;
}

#stats, #betting {
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    display: none;
}

